<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Fragment Comments</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="comment">Comment *</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="comment"
                                            placeholder="Enter Comment *"
                                            :value="item.comment"
                                            @input="updateComment"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="active"
                                            placeholder="Enter Active"
                                            :value="item.active"
                                            @input="updateActive"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="fragment">Fragment *</label>
                                    <v-select
                                            name="fragment"
                                            label="title"
                                            @input="updateFragment"
                                            :value="item.fragment"
                                            :options="postfragmentsAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('FragmentCommentsSingle', ['item', 'loading', 'postfragmentsAll'])
    },
    created() {
        this.fetchPostfragmentsAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('FragmentCommentsSingle', ['storeData', 'resetState', 'setComment', 'setActive', 'setFragment', 'fetchPostfragmentsAll']),
        updateComment(e) {
            this.setComment(e.target.value)
        },
        updateActive(e) {
            this.setActive(e.target.value)
        },
        updateFragment(value) {
            this.setFragment(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'fragment_comments.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
