<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Post fragments</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="body">Body *</label>
                                    <vue-ckeditor
                                            name="body"
                                            :id="'body'"
                                            :value="item.body"
                                            @input="updateBody"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="post">Post *</label>
                                    <v-select
                                            name="post"
                                            label="title"
                                            @input="updatePost"
                                            :value="item.post"
                                            :options="postsAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('PostFragmentsSingle', ['item', 'loading', 'postsAll', 'activeEnum'])
    },
    created() {
        this.fetchPostsAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('PostFragmentsSingle', ['storeData', 'resetState', 'setTitle', 'setBody', 'setPost', 'setActive', 'fetchPostsAll']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateBody(value) {
            this.setBody(value)
        },
        updatePost(value) {
            this.setPost(value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'post_fragments.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
