<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Paypal</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>User</th>
                                            <td>
                                                <span class="label label-info" v-if="item.user !== null">
                                                    {{ item.user.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Transaction</th>
                                            <td>
                                                <span class="label label-info" v-if="item.transaction !== null">
                                                    {{ item.transaction.reference }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Create time</th>
                                            <td>{{ item.create_time }}</td>
                                            </tr>
                                        <tr>
                                            <th>Update time</th>
                                            <td>{{ item.update_time }}</td>
                                            </tr>
                                        <tr>
                                            <th>Paypal id</th>
                                            <td>{{ item.paypal_id }}</td>
                                            </tr>
                                        <tr>
                                            <th>Intent</th>
                                            <td>{{ item.intent }}</td>
                                            </tr>
                                        <tr>
                                            <th>Transaction status</th>
                                            <td>{{ item.transaction_status }}</td>
                                            </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ item.email }}</td>
                                            </tr>
                                        <tr>
                                            <th>Payer id</th>
                                            <td>{{ item.payer_id }}</td>
                                            </tr>
                                        <tr>
                                            <th>Country code</th>
                                            <td>{{ item.country_code }}</td>
                                            </tr>
                                        <tr>
                                            <th>Firstname</th>
                                            <td>{{ item.firstname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Lastname</th>
                                            <td>{{ item.lastname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{{ item.phone }}</td>
                                            </tr>
                                        <tr>
                                            <th>Amount</th>
                                            <td>{{ item.amount }}</td>
                                            </tr>
                                        <tr>
                                            <th>Currency code</th>
                                            <td>{{ item.currency_code }}</td>
                                            </tr>
                                        <tr>
                                            <th>Payee email address</th>
                                            <td>{{ item.payee_email_address }}</td>
                                            </tr>
                                        <tr>
                                            <th>Payee merchant id</th>
                                            <td>{{ item.payee_merchant_id }}</td>
                                            </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>{{ item.shipping }}</td>
                                            </tr>
                                        <tr>
                                            <th>Payment status</th>
                                            <td>{{ item.payment_status }}</td>
                                            </tr>
                                        <tr>
                                            <th>Payment id</th>
                                            <td>{{ item.payment_id }}</td>
                                            </tr>
                                        <tr>
                                            <th>Seller protection</th>
                                            <td>{{ item.seller_protection }}</td>
                                            </tr>
                                        <tr>
                                            <th>Links</th>
                                            <td>{{ item.links }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('PaypalsSingle', ['item'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('PaypalsSingle', ['fetchData', 'resetState'])
    }
}
</script>


<style scoped>

</style>
