<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Products</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Name *"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="images">Images</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImages"
                                            multiple="multiple"
                                    >
                                    <ul v-if="item.images || item.uploaded_images" class="list-unstyled">
                                        <li v-for="images in item.uploaded_images">
                                            {{ images.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeUploadedImages($event, images.id);"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                        <li v-for="(images, index) in item.images">
                                            {{ images.name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeImages($event, index);"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="price"
                                            placeholder="Enter Price *"
                                            :value="item.price"
                                            @input="updatePrice"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="summary">Summary *</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="summary"
                                            placeholder="Enter Summary *"
                                            :value="item.summary"
                                            @input="updateSummary"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description *</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <v-select
                                            name="category"
                                            label="name"
                                            @input="updateCategory"
                                            :value="item.category"
                                            :options="productcategoriesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="supplier">Supplier *</label>
                                    <v-select
                                            name="supplier"
                                            label="name"
                                            @input="updateSupplier"
                                            :value="item.supplier"
                                            :options="productsuppliersAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="reference">Reference *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="reference"
                                            placeholder="Enter Reference *"
                                            :value="item.reference"
                                            @input="updateReference"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="file">File</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateFile"
                                    >
                                    <ul v-if="item.file" class="list-unstyled">
                                        <li>
                                            {{ item.file.name || item.file.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeFile"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="link"
                                            placeholder="Enter Link"
                                            :value="item.link"
                                            @input="updateLink"
                                            >
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('ProductsSingle', ['item', 'loading', 'productcategoriesAll', 'productsuppliersAll'])
    },
    created() {
        this.fetchProductcategoriesAll(),
        this.fetchProductsuppliersAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('ProductsSingle', ['storeData', 'resetState', 'setName', 'setImages', 'destroyImages', 'destroyUploadedImages', 'setPrice', 'setSummary', 'setDescription', 'setCategory', 'setSupplier', 'setReference', 'setFile', 'setLink', 'fetchProductcategoriesAll', 'fetchProductsuppliersAll']),
        updateName(e) {
            this.setName(e.target.value)
        },
        removeImages(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.destroyImages(id);
                }
            })
        },
        updateImages(e) {
            this.setImages(e.target.files);
            this.$forceUpdate();
        },
        removeUploadedImages (e, id) {
        this.$swal({
          title: 'Are you sure ? ',
          text: "To fully delete the file submit the form.",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#dd4b39',
          focusCancel: true,
          reverseButtons: true
        }).
        then(result => {
            if (typeof result.dismiss === "undefined") {
                this.destroyUploadedImages(id);
            }
        })
        },
        updatePrice(e) {
            this.setPrice(e.target.value)
        },
        updateSummary(e) {
            this.setSummary(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updateCategory(value) {
            this.setCategory(value)
        },
        updateSupplier(value) {
            this.setSupplier(value)
        },
        updateReference(e) {
            this.setReference(e.target.value)
        },
        removeFile(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setFile('');
                }
            })
        },
        updateFile(e) {
            this.setFile(e.target.files[0]);
            this.$forceUpdate();
        },
        updateLink(e) {
            this.setLink(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'products.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
