<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Orders</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="product">Product</label>
                                    <v-select
                                            name="product"
                                            label="name"
                                            @input="updateProduct"
                                            :value="item.product"
                                            :options="productsAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="reference">Reference *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="reference"
                                            placeholder="Enter Reference *"
                                            :value="item.reference"
                                            @input="updateReference"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="status">Status *</label>
                                    <v-select
                                            name="status"
                                            @input="updateStatus"
                                            :value="item.status"
                                            :options="statusEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="payment_completed_at">Payment completed at</label>
                                    <date-picker
                                            :value="item.payment_completed_at"
                                            :config="$root.dpconfigDate"
                                            name="payment_completed_at"
                                            placeholder="Enter Payment completed at"
                                            @dp-change="updatePayment_completed_at"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('OrdersSingle', ['item', 'loading', 'productsAll', 'statusEnum', 'activeEnum']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('OrdersSingle', ['fetchData', 'updateData', 'resetState', 'setProduct', 'setReference', 'setStatus', 'setPayment_completed_at', 'setActive']),
        updateProduct(value) {
            this.setProduct(value)
        },
        updateReference(e) {
            this.setReference(e.target.value)
        },
        updateStatus(value) {
            this.setStatus(value)
        },
        updatePayment_completed_at(e) {
            this.setPayment_completed_at(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'orders.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
