<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Currencies</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="code">Code *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="code"
                                            placeholder="Enter Code *"
                                            :value="item.code"
                                            @input="updateCode"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="symbol_left">Symbol left</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="symbol_left"
                                            placeholder="Enter Symbol left"
                                            :value="item.symbol_left"
                                            @input="updateSymbol_left"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="symbol_right">Symbol right</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="symbol_right"
                                            placeholder="Enter Symbol right"
                                            :value="item.symbol_right"
                                            @input="updateSymbol_right"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="decimal_place">Decimal place</label>
                                    <input
                                            type="number"
                                            max="9"
                                            class="form-control"
                                            name="decimal_place"
                                            placeholder="Enter Decimal place"
                                            :value="item.decimal_place"
                                            @input="updateDecimal_place"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="value">Value</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="value"
                                            placeholder="Enter Value"
                                            :value="item.value"
                                            @input="updateValue"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('CurrenciesSingle', ['item', 'loading', 'activeEnum']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('CurrenciesSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setCode', 'setSymbol_left', 'setSymbol_right', 'setDecimal_place', 'setValue', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateCode(e) {
            this.setCode(e.target.value)
        },
        updateSymbol_left(e) {
            this.setSymbol_left(e.target.value)
        },
        updateSymbol_right(e) {
            this.setSymbol_right(e.target.value)
        },
        updateDecimal_place(e) {
            this.setDecimal_place(e.target.value)
        },
        updateValue(e) {
            this.setValue(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'currencies.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
