<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Users</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Name *"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            placeholder="Enter Email *"
                                            :value="item.email"
                                            @input="updateEmail"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="password">Password *</label>
                                    <input
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            placeholder="Enter Password *"
                                            @input="updatePassword"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="role">Role *</label>
                                    <v-select
                                            name="role"
                                            label="title"
                                            @input="updateRole"
                                            :value="item.role"
                                            :options="rolesAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="firstname"
                                            placeholder="Enter Firstname"
                                            :value="item.firstname"
                                            @input="updateFirstname"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="lastname"
                                            placeholder="Enter Lastname"
                                            :value="item.lastname"
                                            @input="updateLastname"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="avatar">Avatar</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateAvatar"
                                    >
                                    <ul v-if="item.avatar" class="list-unstyled">
                                        <li>
                                            {{ item.avatar.name || item.avatar.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeAvatar"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="newsletter">Newsletter</label>
                                    <v-select
                                            name="newsletter"
                                            @input="updateNewsletter"
                                            :value="item.newsletter"
                                            :options="newsletterEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="about">About</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="about"
                                            placeholder="Enter About"
                                            :value="item.about"
                                            @input="updateAbout"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="address_one">Address one</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="address_one"
                                            placeholder="Enter Address one"
                                            :value="item.address_one"
                                            @input="updateAddress_one"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="address_two">Address two</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="address_two"
                                            placeholder="Enter Address two"
                                            :value="item.address_two"
                                            @input="updateAddress_two"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="postal_code">Postal code</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="postal_code"
                                            placeholder="Enter Postal code"
                                            :value="item.postal_code"
                                            @input="updatePostal_code"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="city"
                                            placeholder="Enter City"
                                            :value="item.city"
                                            @input="updateCity"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="status">Status *</label>
                                    <v-select
                                            name="status"
                                            @input="updateStatus"
                                            :value="item.status"
                                            :options="statusEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <v-select
                                            name="country"
                                            label="title"
                                            @input="updateCountry"
                                            :value="item.country"
                                            :options="countriesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <v-select
                                            name="language"
                                            label="title"
                                            @input="updateLanguage"
                                            :value="item.language"
                                            :options="languagesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="currency">Currency</label>
                                    <v-select
                                            name="currency"
                                            label="title"
                                            @input="updateCurrency"
                                            :value="item.currency"
                                            :options="currenciesAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('UsersSingle', ['item', 'loading', 'rolesAll', 'countriesAll', 'languagesAll', 'currenciesAll', 'newsletterEnum', 'statusEnum'])
    },
    created() {
        this.fetchRolesAll(),
        this.fetchCountriesAll(),
        this.fetchLanguagesAll(),
        this.fetchCurrenciesAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('UsersSingle', ['storeData', 'resetState', 'setName', 'setEmail', 'setPassword', 'setRole', 'setFirstname', 'setLastname', 'setAvatar', 'setNewsletter', 'setAbout', 'setAddress_one', 'setAddress_two', 'setPostal_code', 'setCity', 'setStatus', 'setCountry', 'setLanguage', 'setCurrency', 'fetchRolesAll', 'fetchCountriesAll', 'fetchLanguagesAll', 'fetchCurrenciesAll']),
        updateName(e) {
            this.setName(e.target.value)
        },
        updateEmail(e) {
            this.setEmail(e.target.value)
        },
        updatePassword(e) {
            this.setPassword(e.target.value)
        },
        updateRole(value) {
            this.setRole(value)
        },
        updateFirstname(e) {
            this.setFirstname(e.target.value)
        },
        updateLastname(e) {
            this.setLastname(e.target.value)
        },
        removeAvatar(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setAvatar('');
                }
            })
        },
        updateAvatar(e) {
            this.setAvatar(e.target.files[0]);
            this.$forceUpdate();
        },
        updateNewsletter(value) {
            this.setNewsletter(value)
        },
        updateAbout(e) {
            this.setAbout(e.target.value)
        },
        updateAddress_one(e) {
            this.setAddress_one(e.target.value)
        },
        updateAddress_two(e) {
            this.setAddress_two(e.target.value)
        },
        updatePostal_code(e) {
            this.setPostal_code(e.target.value)
        },
        updateCity(e) {
            this.setCity(e.target.value)
        },
        updateStatus(value) {
            this.setStatus(value)
        },
        updateCountry(value) {
            this.setCountry(value)
        },
        updateLanguage(value) {
            this.setLanguage(value)
        },
        updateCurrency(value) {
            this.setCurrency(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'users.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
