<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Users</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ item.name }}</td>
                                            </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ item.email }}</td>
                                            </tr>
                                        <tr>
                                            <th>Role</th>
                                            <td>
                                                <span class="label label-info" v-for="role in item.role">
                                                    {{ role.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Firstname</th>
                                            <td>{{ item.firstname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Lastname</th>
                                            <td>{{ item.lastname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Avatar</th>
                                            <td v-html="item.avatar_link"></td>
                                            </tr>
                                        <tr>
                                            <th>Newsletter</th>
                                            <td>{{ item.newsletter }}</td>
                                            </tr>
                                        <tr>
                                            <th>About</th>
                                            <td>{{ item.about }}</td>
                                            </tr>
                                        <tr>
                                            <th>Created by</th>
                                            <td>
                                                <span class="label label-info" v-if="item.created_by !== null">
                                                    {{ item.created_by.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Bill paid at</th>
                                            <td>{{ item.bill_paid_at }}</td>
                                            </tr>
                                        <tr>
                                            <th>Email verified at</th>
                                            <td>{{ item.email_verified_at }}</td>
                                            </tr>
                                        <tr>
                                            <th>Address one</th>
                                            <td>{{ item.address_one }}</td>
                                            </tr>
                                        <tr>
                                            <th>Address two</th>
                                            <td>{{ item.address_two }}</td>
                                            </tr>
                                        <tr>
                                            <th>Postal code</th>
                                            <td>{{ item.postal_code }}</td>
                                            </tr>
                                        <tr>
                                            <th>City</th>
                                            <td>{{ item.city }}</td>
                                            </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{ item.status }}</td>
                                            </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>
                                                <span class="label label-info" v-if="item.country !== null">
                                                    {{ item.country.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Language</th>
                                            <td>
                                                <span class="label label-info" v-if="item.language !== null">
                                                    {{ item.language.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Currency</th>
                                            <td>
                                                <span class="label label-info" v-if="item.currency !== null">
                                                    {{ item.currency.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('UsersSingle', ['item'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('UsersSingle', ['fetchData', 'resetState'])
    }
}
</script>


<style scoped>

</style>
