<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Posts</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="product">Product</label>
                                    <v-select
                                            name="product"
                                            label="name"
                                            @input="updateProduct"
                                            :value="item.product"
                                            :options="productsAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImage"
                                    >
                                    <ul v-if="item.image" class="list-unstyled">
                                        <li>
                                            {{ item.image.name || item.image.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeImage"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="tags">Tags</label>
                                    <v-select
                                            name="tags"
                                            label="name"
                                            @input="updateTags"
                                            :value="item.tags"
                                            :options="posttagsAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="categories">Categories</label>
                                    <v-select
                                            name="categories"
                                            label="name"
                                            @input="updateCategories"
                                            :value="item.categories"
                                            :options="postcategoriesAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="video_link">Video link</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="video_link"
                                            placeholder="Enter Video link"
                                            :value="item.video_link"
                                            @input="updateVideo_link"
                                            >
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('PostsSingle', ['item', 'loading', 'productsAll', 'posttagsAll', 'postcategoriesAll', 'activeEnum'])
    },
    created() {
        this.fetchProductsAll(),
        this.fetchPosttagsAll(),
        this.fetchPostcategoriesAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('PostsSingle', ['storeData', 'resetState', 'setTitle', 'setProduct', 'setImage', 'setActive', 'setTags', 'setCategories', 'setVideo_link', 'fetchProductsAll', 'fetchPosttagsAll', 'fetchPostcategoriesAll']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateProduct(value) {
            this.setProduct(value)
        },
        removeImage(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setImage('');
                }
            })
        },
        updateImage(e) {
            this.setImage(e.target.files[0]);
            this.$forceUpdate();
        },
        updateActive(value) {
            this.setActive(value)
        },
        updateTags(value) {
            this.setTags(value)
        },
        updateCategories(value) {
            this.setCategories(value)
        },
        updateVideo_link(e) {
            this.setVideo_link(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'posts.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
