<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Posts</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{ item.title }}</td>
                                            </tr>
                                        <tr>
                                            <th>Slug</th>
                                            <td>{{ item.slug }}</td>
                                            </tr>
                                        <tr>
                                            <th>Product</th>
                                            <td>
                                                <span class="label label-info" v-if="item.product !== null">
                                                    {{ item.product.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Image</th>
                                            <td v-html="item.image_link"></td>
                                            </tr>
                                        <tr>
                                            <th>Active</th>
                                            <td>{{ item.active }}</td>
                                            </tr>
                                        <tr>
                                            <th>Created by</th>
                                            <td>
                                                <span class="label label-info" v-if="item.created_by !== null">
                                                    {{ item.created_by.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Tags</th>
                                            <td>
                                                <span class="label label-info" v-for="tags in item.tags">
                                                    {{ tags.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Categories</th>
                                            <td>
                                                <span class="label label-info" v-for="categories in item.categories">
                                                    {{ categories.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Video link</th>
                                            <td>{{ item.video_link }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('PostsSingle', ['item'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('PostsSingle', ['fetchData', 'resetState'])
    }
}
</script>


<style scoped>

</style>
