<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Accounts</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="number">Number *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="number"
                                            placeholder="Enter Number *"
                                            :value="item.number"
                                            @input="updateNumber"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="balance">Balance</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="balance"
                                            placeholder="Enter Balance"
                                            :value="item.balance"
                                            @input="updateBalance"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="user">User *</label>
                                    <v-select
                                            name="user"
                                            label="name"
                                            @input="updateUser"
                                            :value="item.user"
                                            :options="usersAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('AccountsSingle', ['item', 'loading', 'usersAll'])
    },
    created() {
        this.fetchUsersAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('AccountsSingle', ['storeData', 'resetState', 'setNumber', 'setBalance', 'setUser', 'fetchUsersAll']),
        updateNumber(e) {
            this.setNumber(e.target.value)
        },
        updateBalance(e) {
            this.setBalance(e.target.value)
        },
        updateUser(value) {
            this.setUser(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'accounts.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
