<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Package Item</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="package">Package *</label>
                                    <v-select
                                            name="package"
                                            label="name"
                                            @input="updatePackage"
                                            :value="item.package"
                                            :options="packagesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Name"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description *</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="price">Price *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="price"
                                            placeholder="Enter Price *"
                                            :value="item.price"
                                            @input="updatePrice"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('PackageItemsSingle', ['item', 'loading', 'packagesAll', 'activeEnum'])
    },
    created() {
        this.fetchPackagesAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('PackageItemsSingle', ['storeData', 'resetState', 'setPackage', 'setName', 'setDescription', 'setPrice', 'setActive', 'fetchPackagesAll']),
        updatePackage(value) {
            this.setPackage(value)
        },
        updateName(e) {
            this.setName(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updatePrice(e) {
            this.setPrice(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'package_items.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
