<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Messages</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="chat">Chat</label>
                                    <v-select
                                            name="chat"
                                            label="active"
                                            @input="updateChat"
                                            :value="item.chat"
                                            :options="chatsAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="user">User *</label>
                                    <v-select
                                            name="user"
                                            label="firstname"
                                            @input="updateUser"
                                            :value="item.user"
                                            :options="usersAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            name="message"
                                            placeholder="Enter Message *"
                                            :value="item.message"
                                            @input="updateMessage"
                                            >
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="active">Active</label>
                                    <v-select
                                            name="active"
                                            @input="updateActive"
                                            :value="item.active"
                                            :options="activeEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            placeholder="Enter Email"
                                            :value="item.email"
                                            @input="updateEmail"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="phone"
                                            placeholder="Enter Phone"
                                            :value="item.phone"
                                            @input="updatePhone"
                                            >
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('MessagesSingle', ['item', 'loading', 'chatsAll', 'usersAll', 'activeEnum'])
    },
    created() {
        this.fetchChatsAll(),
        this.fetchUsersAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('MessagesSingle', ['storeData', 'resetState', 'setChat', 'setUser', 'setMessage', 'setActive', 'setEmail', 'setPhone', 'fetchChatsAll', 'fetchUsersAll']),
        updateChat(value) {
            this.setChat(value)
        },
        updateUser(value) {
            this.setUser(value)
        },
        updateMessage(e) {
            this.setMessage(e.target.value)
        },
        updateActive(value) {
            this.setActive(value)
        },
        updateEmail(e) {
            this.setEmail(e.target.value)
        },
        updatePhone(e) {
            this.setPhone(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'messages.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
